/* .sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #343a40; 
  padding: 20px;
  width: 196px; 
} */
/* .nav-link {
  color: #0b0b0b; 
  align-items: center; 
  gap: 10px; 
  color: #333; 
  padding: 10px 15px; 
  text-decoration: none; 
  transition: background-color 0.3s; 
} */

/* .sidebar-container {
  width: 200px; 
  display: flex; 
  flex-direction: column; 
} */

/* .nav-link:hover {
  background-color: #e9ecef; 
} */

/* .nav-item {
  margin-bottom: 10px; 
} */





/* Sidebar.css */

/* Overall font size for the sidebar */
.fontsize{
  font-size: 1.1rem;
}
.sidebar-container {
  font-size: 0.8rem; /* Reduced from 0.9rem to 0.8rem */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e9ecef;
  padding: 10px;
  width: 250px; 
  height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

/* .sidebar {
  width: 250px; 
  height: 100vh; 
  background-color: #e9ecef;
  padding-top: 20px;
  padding-left: 15px;
} */

/* Adjusting specific elements */
.nav-link {
  font-size: 0.8rem; /* Reduced font size */
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-item {
  padding: 3px 0;
}

.submenu {
  list-style:none;
  padding-left: 20px;
}

.submenu-link {
  font-size: 0.9rem; 
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s;
}

.submenu-link:hover {
  background-color: #f1f1f1;
}

.nav-link i {
  font-size: 1rem; 
}

.nav-link .fs-5 {
  font-size: 0.8rem; 
  margin-left: 8px; 
}

.bi {
  font-size: 1.1rem; 
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px; 
  }
}



