

.header-product{
    margin-left: -650px;
}

.input-box{
    margin-left: 100px;
    width: 300px;
    display: table-cell;
    height: 40px;
    margin-top: 20px;
}

.input-box[type="file"]{
    padding-bottom: 38px;
}

.form-box{
    display:table-row;
}

label{
    display: table-cell;

}

.shop-submit{
    width: 300px;
    background-color: #263459;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: -400px;
    border-radius: 5px;

}



